<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196456656335-29j40g9bhs3edmjq4u68gtu4r066rofr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196456656335-29j40g9bhs3edmjq4u68gtu4r066rofr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>196456656335-a5oei1tuku4mamn547eclo99stgqcjd1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDInJhmBl7yEjZ5bFVUoybghWXcn_5W6VQ</string>
	<key>GCM_SENDER_ID</key>
	<string>196456656335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gomoramathsciencencubeherokuapp.transassist1</string>
	<key>PROJECT_ID</key>
	<string>transapp-c4b09</string>
	<key>STORAGE_BUCKET</key>
	<string>transapp-c4b09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196456656335:ios:156f9b5601a35a1899b6ba</string>
	<key>DATABASE_URL</key>
	<string>https://transapp-c4b09.firebaseio.com</string>
</dict>
</plist>